# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
develop/

# Databases
*.db
*.sqlite3

# Tooling caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Docker
.docker/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/

# Logs
*.log
